name: test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python:
          [cpython-3.11, cpython-3.12, cpython-3.13, cpython-3.14, cpython-3.15, pypy-3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        #with:
        #enable-cache: true # 啟用 uv 的內建快取，加速重複建置

      - name: Set up Python with uv
        run: uv python install ${{ matrix.python }}

      - name: Create venv
        run: uv venv

      - name: Install project dependencies with uv
        run: uv sync --extra test

      #- name: Build distribution
      #run: uv build

      - name: Run tests with pytest
        run: uv run pytest
